{% extends 'base.html' %}

{% block title %}About Our Company{% endblock %}

{% block content %}
<div class="about-container">
    <h1>About Our Company</h1>

    {% if company_info %}
    <section class="company-section">
        <h2>Information</h2>
        <p>{{ company_info.information }}</p>
    </section>

    {% if company_info.logo %}
    <section class="company-section">
        <h2>Company Logo</h2>
        <img src="{{ company_info.logo.url }}" alt="Company Logo" class="company-logo">
    </section>
    {% endif %}

    {% if company_info.video_url %}
    <section class="company-section">
        <h2>Company Video</h2>
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/{{ company_info.video_url|slice:'17:28' }}" frameborder="0"
                allowfullscreen></iframe>
        </div>
    </section>
    {% endif %}

    {% if company_info.history %}
    <section class="company-section">
        <h2>Company History</h2>
        <ul class="history-list">
            {{ company_info.history|linebreaksbr }}
        </ul>
    </section>
    {% endif %}

    {% if company_info.requisites %}
    <section class="company-section">
        <h2>Company Requisites</h2>
        <ul class="requisites-list">
            {% for line in company_info.requisites.splitlines %}
            <li>{{ line }}</li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if company_info.certificate %}
    <section class="certificate-section">
        <h2>Company Certificate</h2>
        <div class="certificate-container">
            <div class="certificate-gradient-border">
                <div class="certificate-content">
                    <!-- Заголовок сертификата -->
                    <h3 class="certificate-title">{{ company_info.certificate.title }}</h3>
                    <p class="certificate-subtitle">{{ company_info.certificate.subtitle }}</p>

                    <!-- Основная информация -->
                    <p><strong>Company:</strong> {{ company_info.certificate.company_name }}</p>
                    <p><strong>Date Issued:</strong> {{ company_info.certificate.date_issued }}</p>
                    <p><strong>Registry Number:</strong> {{ company_info.certificate.registry_number }}</p>

                    <!-- Логотип компании -->
                    {% if company_info.certificate.logo %}
                    <div class="certificate-logo">
                        <img src="{{ company_info.certificate.logo.url }}" alt="Company Logo"
                            class="company-logo-small">
                    </div>
                    {% endif %}
                    <!-- Футер сертификата -->
                    <p class="certificate-footer">{{ company_info.certificate.certificate_footer }}</p>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    {% else %}
    <p>No info right now!</p>
    {% endif %}
</div>
{% endblock %}