{% extends 'base.html' %}

{% load static %}  

{% block title %}About Our Company{% endblock %}

{% block styles %}
<style>
    /* Основной контейнер */
    .about-container {
        max-width: 800px;
        margin: 40px auto;
        padding: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f5f7fa;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    /* Стилизация формы и элементов ввода */
    .date-form-container {
        margin-bottom: 30px;
        padding: 20px;
        border: 1px solid #dfe4ea;
        border-radius: 8px;
        background: linear-gradient(145deg, #e3effe, #efefef);
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .date-form-container h2 {
        color: #333;
        font-size: 20px;
    }

    .date-form-container label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        color: #333;
    }

    .date-form-container input {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    /* Стилизация кнопок */
    .add-button, .download-button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
        background: linear-gradient(45deg, #76b852, #8DC26F);
        color: white;
        transition: all 0.3s ease;
    }

    .add-button:hover, .download-button:hover {
        background: linear-gradient(45deg, #8DC26F, #76b852);
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        transform: translateY(-2px);
    }

    /* Адаптивность */
    @media (max-width: 600px) {
        .about-container {
            padding: 15px;
        }

        .add-button, .download-button {
            width: auto;
            display: block;
            margin: auto;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="about-container">
    <h1>About Our Company</h1>

    {% if company_info %}
    <section class="company-section">
        <h2>Information</h2>
        <p>{{ company_info.information }}</p>
    </section>

    {% if company_info.logo %}
    <section class="company-section">
        <h2>Company Logo</h2>
        <img src="{{ company_info.logo.url }}" alt="Company Logo" class="company-logo">
    </section>
    {% endif %}

    {% if company_info.video_url %}
    <section class="company-section">
        <h2>Company Video</h2>
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/{{ company_info.video_url|slice:'17:28' }}" frameborder="0"
                allowfullscreen></iframe>
        </div>
    </section>
    {% endif %}

    <!-- Форма для добавления даты -->
    <div class="date-form-container">
        <h2>Добавить Дату</h2>
        <form id="dateForm">
            <label>День:
                <input type="number" id="day" min="1" max="31" required>
            </label>
            <label>Месяц:
                <input type="number" id="month" min="1" max="12" required>
            </label>
            <label>Год:
                <input type="number" id="year" min="1" required>
            </label>
            <button type="submit" class="add-button">Добавить</button>
        </form>
    </div>
    <div class="display-dates">
        <h2>Все Даты</h2>
        <div id="allDates"></div>
    </div>
    <div class="display-spring-dates">
        <h2>Весенние Даты</h2>
        <div id="springDates"></div>
        <button id="downloadButton" class="download-button">Сохранить Весенние Даты</button>
    </div>

    {% if company_info.history %}
    <section class="company-section">
        <h2>Company History</h2>
        <ul class="history-list">
            {{ company_info.history|linebreaksbr }}
        </ul>
    </section>
    {% endif %}

    {% if company_info.requisites %}
    <section class="company-section">
        <h2>Company Requisites</h2>
        <ul class="requisites-list">
            {% for line in company_info.requisites.splitlines %}
            <li>{{ line }}</li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if company_info.certificate %}
    <section class="certificate-section">
        <h2>Company Certificate</h2>
        <div class="certificate-container">
            <div class="certificate-gradient-border">
                <div class="certificate-content">
                    <!-- Заголовок сертификата -->
                    <h3 class="certificate-title">{{ company_info.certificate.title }}</h3>
                    <p class="certificate-subtitle">{{ company_info.certificate.subtitle }}</p>

                    <!-- Основная информация -->
                    <p><strong>Company:</strong> {{ company_info.certificate.company_name }}</p>
                    <p><strong>Date Issued:</strong> {{ company_info.certificate.date_issued }}</p>
                    <p><strong>Registry Number:</strong> {{ company_info.certificate.registry_number }}</p>

                    <!-- Логотип компании -->
                    {% if company_info.certificate.logo %}
                    <div class="certificate-logo">
                        <img src="{{ company_info.certificate.logo.url }}" alt="Company Logo"
                            class="company-logo-small">
                    </div>
                    {% endif %}
                    <!-- Футер сертификата -->
                    <p class="certificate-footer">{{ company_info.certificate.certificate_footer }}</p>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    {% else %}
    <p>No info right now!</p>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/script_proto.js' %}"></script>
{% endblock %}
