{% extends 'base.html' %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/reviews_form.css' %}">
</head>

{% block title %}Submit Your Review{% endblock %}

{% block content %}
<div class="review-form-container">
    <h1>Submit Your Review</h1>
    <form method="post" class="review-form">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="id_rating">Rating:</label>
            {{ form.rating }}
        </div>
        
        <div class="form-group">
            <label for="id_text">Text:</label>
            {{ form.text }}
        </div>
        
        <button type="submit" class="submit-review-btn">Submit Review</button>
    </form>
</div>
{% endblock %}
