{% extends 'base.html' %}

{% block title %}Contacts{% endblock %}

{% block content %}
<h1>Contacts</h1>
{% if user.is_superuser %}
    <a href="{% url 'contact_create' %}">Add Contact</a>
{% endif %}
{% if contacts %}
    <ul class="contacts-list">
        {% for contact in contacts %}
            <li>
                <h2>{{ contact.employer.first_name }} {{ contact.employer.last_name }}</h2>
                <p>{{ contact.description }}</p>
                {% if contact.image %}
                    <img src="{{ contact.image.url }}" class="contact-image">
                {% endif %}
                {% if user.is_superuser %}
                    <a href="{% url 'contact_update' contact.pk %}">Edit</a>
                    <a href="{% url 'contact_delete' contact.pk %}">Delete</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No contacts for now!</p>
{% endif %}
{% endblock %}
