{% extends 'base.html' %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/news_style.css' %}">
</head>

{% block title %}Latest News{% endblock %}

{% block content %}
<div class="news-container">
    <h1 class="news-header">Latest News</h1>
    {% if articles %}
        <ul class="news-list">
            {% for article in articles %}
            <li class="news-item">
                <div class="news-content">
                    <h2 class="news-title">{{ article.title }}</h2>
                    <p class="news-snippet">{{ article.content|truncatewords:3 }}</p>
                    <a href="{% url 'article_detail' article.id %}" class="read-more-btn">Read more</a>
                </div>
                {% if article.image %}
                    <div class="news-image">
                        <img src="{{ article.image.url }}" alt="{{ article.title }}">
                    </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-news">No news right now!</p>
    {% endif %}
</div>
{% endblock %}
