{% extends 'base.html' %}

{% block title %}News{% endblock %}

{% block content %}
<h1>News</h1>
{% if articles %}
    <ul>
        {% for article in articles %}
        <li>
            <h2>{{ article.title }}</h2>
            <p>{{ article.content|truncatewords:4 }}</p>
            <p><a href="{% url 'article_detail' article.id %}">Read more</a></p>
            {% if article.images %}
                <ul style="list-style-type: none; padding: 0; display: flex; flex-wrap: wrap;">
                    {% for image in article.images.all|slice:":3" %}
                    <li style="margin-right: 10px; margin-bottom: 10px;">
                        <img src="{{ image.url }}" alt="{{ image.description }}" style="max-width: 100%; height: auto;">
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No news right now!</p>
{% endif %}
{% endblock %}
