{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% load static %}

<head>
    <!-- Link to the profile.css file for styling -->
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

{% block content %}
<div class="profile-container">
    <h1>Profile</h1>
    <p><strong>Full Name:</strong> {{ full_name }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Join date:</strong> {{ joined }}</p>
    <p><strong>Role:</strong> {{ role }}</p>
    <p><strong>Nationality:</strong> {{ nationalities }}</p>
    
    <div class="profile-buttons">
        <a href="{% url 'statistics' %}">Statistics</a>
        <a href="{% url 'cart' %}">View Cart</a>
        <a href="{% url 'html_demo' %}">HTML Demo</a>
    </div>
</div>
{% endblock %}
