{% extends 'base.html' %}

{% block title %}Reviews{% endblock %}

{% block content %}
<h1>Reviews</h1>
{% if reviews %}
<ul style="list-style: none; padding: 0;">
    {% for review in reviews %}
    <li style="border-bottom: 1px solid #ddd; padding: 15px;">
        <h2>{{ review.name }}</h2>
        <p>Mark: {{ review.rating }}</p>
        <p>{{ review.text }}</p>
        <p>Date: {{ review.created_at }}</p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No reviews right now!</p>
{% endif %}
<a href="{% url 'add_review' %}" style="background-color: #4CAF50; /* Green background color */
                                     color: white;
                                     padding: 10px 20px;
                                     border: none;
                                     border-radius: 5px;
                                     cursor: pointer;
                                     text-decoration: none; /* Remove underline */">Add review</a>
{% endblock %}