/* Общие стили */
body {
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    color: white;
}

.news-container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1b1b2f;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.news-header {
    font-size: 3rem;
    text-align: center;
    color: #f9f9f9;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

/* Список новостей */
.news-list {
    list-style: none;
    padding: 0;
}

.news-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2f3640;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.news-item:hover {
    transform: translateY(-5px);
}

.news-content {
    flex: 2;
    margin-right: 20px;
}

/* Название статьи */
.news-title {
    font-size: 1.8rem;
    color: #00a8ff;
    margin-bottom: 15px;
}

/* Сниппет статьи с overflow и многоточием */
.news-snippet {
    color: #f5f6fa;
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Ограничиваем двумя строками */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Добавляем многоточие, если текст не помещается */
}

/* Кнопка "Читать далее" */
.read-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4b7bec;
    color: #fff;
    text-transform: uppercase;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.read-more-btn:hover {
    background-color: #3867d6;
}

/* Изображение новости */
.news-image img {
    max-width: 100%; /* Изображение не выходит за пределы контейнера */
    width: 250px; /* Фиксированная ширина */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    object-fit: cover; /* Сохранение соотношения сторон изображения */
}

.no-news {
    text-align: center;
    font-size: 1.5rem;
    color: #f5f6fa;
}
